<article class="post featured">
  <header class="major">
    <span class="date">May 17, 2020</span>

    <h2>
      <a href="https://aka.ms/pwa-slack">Progressive Web Apps Slack team</a>
    </h2>

    <p>
      Join more than PWA 2000 developers
    </p>
  </header>

  <a href="https://aka.ms/pwa-slack" class="image main"
    ><img src="/assets/images/pwa-slack.png" alt=""
  /></a>

  <ul class="actions">
    <li>
      <a href="https://aka.ms/pwa-slack" class="button big">Join</a>
    </li>
  </ul>
</article>

<section class="posts">
  <ng-template ngFor let-page [ngForOf]="links$ | async">
    <article *ngIf="page.route !== '/'">
      <header>
        <span class="date">{{ page.date }}</span>

        <h2>
          <a href="{{ page.route + '/' }}">{{ page.title }}</a>
        </h2>
      </header>

      <a href="{{ page.route + '/' }}" class="image fit"
        ><img src="/assets/images/{{ page.image }}" alt="{{ page.title }}"
      /></a>

      <p>
        {{ page.description }}
      </p>

      <ul class="actions">
        <li>
          <a href="{{ page.route + '/' }}" class="button">Full Story</a>
        </li>
      </ul>
    </article>
  </ng-template>
</section>
